/* top */

 */
 .header-top {
 	padding:0px;
  margin: 0px;
  display: flex;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

 }
 header{
   display: block !important;
   padding:0px !important;
   margin: 0px !important;
 }

 .site-logo {
 	display: inline-block;
 }

a img {
  width: 80px;
  height: auto;
}
 .header-search-form {
 	width: 400px;
 	position: relative;
 	padding: 0 10px;
  border-radius: 30px;
  border-color: red;
  display: flex;
 }

 .header-search-form input {
 	width: 100%;
 	height: 44px;
 	font-size: 14px;
 	border-radius: 50px;
 	border: none;
 	padding: 0 19px;
 	background: #f0f0f0;
  display: flex;
 }

 .header-search-form button {
 	position: absolute;
 	height: 100%;
 	left: 18px;
 	top: 0;
 	font-size: 26px;
 	color: #000;
 	border: none;
 	cursor: pointer;
 	background-color: transparent;
 }

 .but{
   width: 100px;
   height: 34px;
   border-radius: 8px;
   border-color: #178FC2;
   color:#178FC2;
   background-color: white;
 }
 /* top */
.container1 .akno{
  width: 1233px;
  height: 395px;
  background-color: #4AA3B2;
  display:flex;
  font-size:30px;
  margin: 10px 50px 50px 50px;
}
.container1 .akno h1{
  margin-left: 20px;
}
.container1 .akno img{
  height: 466px;
  width: auto;
  margin-top: -28px

}
.cour{
  font-family: lato, monserat ,sans-serif;
}
.sec1{
  width: 900px;
  height: 500px;
}

div.container {
	width: 1000px;
	margin: 0 auto;
}

div.flex {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

div.row1 {
	width: calc(100% / 3 - 20px);
	height: 410px;
	background-color:;
	position: relative;
	transition: 0.5s;
  -webkit-box-shadow: 0px 2px 15px 5px #949494;
  box-shadow: 0px 2px 15px 5px #DBDBDB;
  border-radius: 7px;

}

div.shadow {
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 10px;
	background: radial-gradient(at center, rgba(0, 0, 0, 0.3) 30%, transparent, transparent);
	opacity: 0;
	transition: 0.5s;
}

div.row1:hover {
	transform: translateY(-5px);
}

div.row1:hover div.shadow {
	opacity: 1;
	transform: translateY(5px);
}
div.row1 img{
  width: 313px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;

}
p span{
  color: #FFAD2C;
  font-size: 12px;
}
.tex h4,
h5,{
  margin-top: 1px 5px;
  display: inline-block;
}
.knopka{
  margin: 55px 572px;
  width: 174px;
  height: 45px;
  border-radius: 70px ;
}
.immg{
  width: 1020px;
  height: 450px;
background-image: url(../images/);
}
